
/* Reduce spacing between multiple output chunks and merge them together */

div.sourceCode + pre, pre + pre {
  margin-top: -15px;
  border-top: none;
}

div.sourceCode + pre {
  margin-top: -5px;
  border-top: none;
}
