inst/doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
misc
cache
rosm.cache
*.zip
testdir
.positai
vignettes/articles/modis
vignettes/articles/TerrainTiles
vignettes/articles/worldclim
modis
scanfi
daymet